body{
    margin: 0;
    padding: 0;
}

nav {
    width: 100%;
    background-color: #545453;
    overflow: auto;
}

nav ul{
    padding: 0;
    margin: 0 0 0 150px;
    list-style: none;
    float: right;
}

nav li{
    float: left;
}

.logo img{
    position: absolute;
    margin-top: 0px;
    margin-left: 30px;
    height: 59px;
}

nav a {
    width: 100px;
    display: block;
    padding: 20px 15px;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffbd59;
    text-align: center;
}

nav a:hover {
    background-color: #ffbd59;
    color: #545453;

}